<html>
<head>
<script src="/static/js/jquery-3.1.1.min.js"></script>
<script src="/static/js/vue.min.js"></script>
<script>
$(function () {
    var vm = new Vue({
        el: '#vm',
        data: {
            email: '',
            name: ''
        },
        methods: {
            register: function () {
                alert(JSON.stringify(this.$data));
            }
        }
    });
    window.vm = vm;
});
</script>
</head>
<body>
    <form id="vm" v-on:submit.prevent="register">
        <p>Email: <input v-model="email" type="text"></p>
        <p>Name: <input v-model="name" type="text"></p>
        <p><input type="submit" value="Register"></p>
    </form>
</body>
<html>
